html{
    background-color: black;
}
img{
  margin-left: 25%;
  margin-top: 100px;
  width: 50%;
  border: 2px solid white;
}
h1{
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-size: 200px;
text-align: center;
color: white;
}
h2{
    color:wheat;
    font-size: 150px;
    margin-left: 100px;
    text-align: center;;
}
p{
    color:white;
    margin-left: 35px;
    text-align: center;
    font-size: 100px;
}
img{
    border: 5px solod white;
}